{% extends 'base.html' %}
{% block content-title %}
    <h1>Login</h1>
{% endblock %}
{% block login-status %}
{% endblock %}
{% block main-content %}

    {% if form.errors %}
        <p>Username and password didn't match. Please Try Again</p>
    {% endif %}
    {% if next %}
        {% if user.is_authenticated %}
            <p>You don't have access to view this page.</p>
        {% else %}
            <p>You must login to view this page.</p>
        {% endif %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}