{% extends 'base.html' %}
{% block content-title %}
    <h1>Check-In No: {{ checkin.id }}</h1>
{% endblock %}
<!-- TODO Work on FrontEnd -->
{% block main-content %}
    Reservation:
    <a href="{% url 'reservation-detail' checkin.reservation.reservation_id %}">{{ checkin.reservation }}</a> <br/>
    Rooms:
    {% for room in rooms %}
        <a href="{% url 'room-detail' room %}">{{ room }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}No rooms in the reservation.
    {% endfor %}<br/>
    Amount = {{ checkin.initial_amount }}<br/>
    Check-In Date Time = {{ checkin.check_in_date_time }}<br/>
    Last Edited On = {{ checkin.last_edited_on }}<br/>
{% endblock %}

