{% extends 'base.html' %}
{% block content-title %}
    <h1>{{ title }}</h1>
{% endblock %}
<!-- TODO Work on FrontEnd -->
{% block main-content %}
    Room No: {{ room.room_no }} <br/>
    Room Type: {{ room.get_room_type_display }} <br/>
    Availability : {% if room.availability %} Yes {% else %} No {% endif %} <br/>
    Facilities: {{ room.display_facility }} <br/>
    Room Photo: "Not Available" <!--TODO: Image adding --> <br/>
    {% if room.reservation %}
        Reservation:
        <a href="{% url 'reservation-detail' room.reservation_id %}">{{ room.reservation }} </a><br/>
    {% endif %}
{% endblock %}