<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is internal hotel management system">
    <meta name="author" content="Software Engineers' Group">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">Hotel Management System</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#top_navbar" aria-controls="top_navbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="top_navbar">
            <ul class="navbar-nav">
                {% block navbar-items %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                {% endblock %}
            </ul>
        </div>
    </nav>
</header>


<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            {% block sidebar-items %}
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hotel Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reservations' %}">Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rooms' %}">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">To Do</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Checkout</a>
                    </li>
                </ul>

                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Customer Feedback</a>
                    </li>
                </ul>
            {% endblock %}
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            {% block content-title %}
                <h1>{{ title }}</h1>
            {% endblock %}
            {% block main-content %}
                <section class="row text-center placeholders">
                </section>
            {% endblock %}
            {% block pagination %}
                {% if is_paginated %}
                    <nav aria-label="Page Navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for page_no in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_no == page_obj.number %} active {% endif %}"><a
                                    class="page-link"
                                    href="{{ request.path }}?page={{ page_no }}">{{ page_no }}</a></li>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% endif %}

                    </ul>
                {% endif %}
            </nav>
            {% endblock %}
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"
        integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>
</body>
</html>
