{% extends 'base.html' %}
{% block content-title %}
    <h1>{{ title }}</h1>
{% endblock %}
<!-- ToDo Work on FrontEnd -->
{% block main-content %}
    Total Number of Rooms: {{ total_num_rooms }} <br/>
    Available Number of Rooms: {{ available_num_rooms }} <br/>
    Total Number of Reservations: {{ total_num_reservations }} <br/>
    Total Number of Staffs: {{ total_num_staffs }} <br/>
    Total Number of Customers: {{ total_num_customers }} <br/>
    {% if user.is_authenticated %}
        Last Reserved By: <br/>
        Customer ID:
        <a href="{% url 'customer-detail' last_reserved_by.customer_id %}"> {{ last_reserved_by.customer_id }}</a> <br/>
        Customer Name: {{ last_reserved_by.customer.first_name }} {{ last_reserved_by.customer.last_name }} <br/>
    {% endif %}
{% endblock %}
